@model List<ProjektZespolowyGr3.Models.DbModels.UserProfile>


@{
	ViewData["Title"] = "User Profile";
}

@foreach(var user in ViewBag.model )
{
	
	<p> Imie :  @user._User.Username</p>

	<img src="data:image/png;base64," +@user.base64Avatar alt="User Avatar" />

	<img src="data:image/png;base64," +@user.base64Banner alt="User BackGround" />

	<p>Description: @user.Description</p>

}

