**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/wwwroot/uploads
**/TestResults
**/*.user
**/*.suo
**/*.log

docker/postgres_data
docker/nginx/certs
docker/.env

docs/
**/README.md
**/CHANGELOG.md
