@{
    ViewData["Title"] = "Polityka prywatności";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Ta strona zawiera informacje o polityce prywatności serwisu HandlujZTym.</p>
</div>
